#mainContainer{
  position:absolute;
  inset:0;
  min-width:350px;
  margin:0;
  display:flex;
  flex-direction:column;
  background-color: black;
}

#viewerContainer{
  overflow:auto;
  position:absolute;
  inset:0;
  outline:none;
  z-index:0;
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  display: flex;
  justify-content: center; /* Center viewer horizontally */
  box-sizing: border-box !important;
  background: transparent !important;
}

#viewerContainer,
#viewerContainer * {
  user-select: none;
  -webkit-user-select: none;
}

#viewer{
  --scale-factor:1;
  --page-bg-color:unset;
  padding-bottom:var(--pdfViewer-padding-bottom, 0);
  margin: 0 auto !important;
  padding: 0 !important;
  width: auto !important;
  height: auto !important;
  display: block;
  box-sizing: border-box;
}


.pdfViewer{
  --scale-factor:1;
  --page-bg-color:unset;
  padding-bottom:var(--pdfViewer-padding-bottom);
  --hcm-highlight-filter:none;
  --hcm-highlight-selected-filter:none;
}

.pdfViewer .canvasWrapper{
  overflow:hidden;
  width:100%;
  height:100%;
}

.pdfViewer .page{
  --user-unit:1;
  --total-scale-factor:calc(var(--scale-factor) * var(--user-unit));
  --scale-round-x:1px;
  --scale-round-y:1px;
  direction:ltr;
  width:816px;
  height:1056px;
  margin:1px auto -8px;
  position:relative;
  overflow:visible;
  border:9px solid transparent;
  background-clip:content-box;
  background-color:var(--page-bg-color, rgb(255 255 255));
}

.pdfViewer .dummyPage{
  position:relative;
  width:0;
  height:var(--viewer-container-height, 0);
}

.pdfViewer .canvasWrapper canvas{
  position:absolute;
  top:0;
  left:0;
  margin:0;
  display:block;
  width:100%;
  height:100%;
  contain:content;
}

/* ====== Annotation Layer ====== */
.annotationLayer{
  position:absolute;
  top:0;
  left:0;
  pointer-events:none;
  transform-origin:0 0;
}

.annotationLayer .annotationContent{
  position:absolute;
  width:100%;
  height:100%;
  pointer-events:none;
}

.annotationLayer section{
  position:absolute;
  text-align:initial;
  pointer-events:auto;
  box-sizing:border-box;
  transform-origin:0 0;
  -webkit-user-select:none;
     -moz-user-select:none;
          user-select:none;
}

.annotationLayer .linkAnnotation > a {
  position: absolute;
  font-size: 1em;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.annotationLayer .linkAnnotation:not(.hasBorder) > a:hover {
  opacity: 0.2;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 10px rgb(255, 255, 255);
}

.annotationLayer .linkAnnotation.hasBorder:hover {
  background-color: rgb(255 255 0 / 0.2);
}

:root{
  --pdfViewer-padding-bottom:0;
  --viewer-container-height:0;
}

